<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-select [(ngModel)]="dataUser.sl_students" interface="popover" label="Cambiar Estudiante >"
      placeholder="Estudiante" (ionChange)="ft_loadStudent()">

      <ion-select-option *ngFor="let item of dataUser.arr_students; let i = index" value={{item.name}}>
        {{item.name}}
      </ion-select-option>
    </ion-select>

    <ion-avatar class="me" slot="end">
      <img alt="student" src={{dataUser.avatar_image}} />
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of this.dataUser.arr_courses; let i = index">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="text-center">
        <ion-row class="div-center">
          <ion-col size="12"><img height="100" width="150" src="{{item.inscription_product.default_image}}"
              alt=""></ion-col>
          <ion-col size="12"><strong>Precio: $</strong><ion-text color="danger">
              {{item.inscription_product.list_price}}
            </ion-text></ion-col>
          <ion-col size="12"><strong>Mensual: $</strong><ion-text color="danger">
              {{item.monthly_product.list_price}}
            </ion-text></ion-col>
          <ion-col class="div-center-c" size="12">
            <div class="media">
              <div>
                <ion-button expand="block" *ngIf="!item.subscribed"
                  (click)="ft_addCourse(item.id)">Pre-inscribirme</ion-button>
              </div>
              <div>
                <ion-button expand="block" *ngIf="item.subscribed" [disabled]="item.subscribed" color="success"
                  (click)="ft_addCourse(item.id)">Pre-inscrito</ion-button>
              </div>
              <div>
                <ion-button expand="block" *ngIf="item.subscribed" (click)="ft_goProducts(item.id)">Productos
                </ion-button>
              </div>
              <div>
                <ion-button expand="block" *ngIf="item.subscribed" (click)="ft_get_courses_item(item)"
                  (click)="setOpen(true)">Horarios</ion-button>
              </div>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Horario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <div class="text-center">
          <ion-item class="mv">
            {{dataUser.arr_student_courses.name}}
          </ion-item>
          <ion-item class="mv" *ngFor=" let item of dataUser.arr_student_courses.schedules; let i=index">
            <h3 class="mv">
              {{item.name}}
            </h3>
          </ion-item>
        </div>


      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



<app-footer />