<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="5" routerLink="/class">
        <p>Clases</p>
        <img class="img"
          src="https://cdn-icons-png.freepik.com/256/16956/16956942.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
          alt="clases">
      </ion-col>
      <ion-col size="2" routerLink="/register">
        <ion-fab horizontal="center" vertical="center">
          <ion-fab-button>
            +
          </ion-fab-button>
        </ion-fab>
      </ion-col>
      <!-- <ion-col class="l-r-line" size="4" routerLink="/register">Registro</ion-col> -->
      <ion-col size="5" routerLink="/purchase">
        <p>Facturas</p>
        <img class="img"
          src="https://cdn-icons-png.freepik.com/256/3697/3697170.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
          alt="facturas">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>